.input{
  border: 1px solid rgb(0 0 0 / 30%);
  outline: none;
  min-height: 42px;
  padding: 0 12px;
  border-radius: 6px;
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;
}

.pass{
  padding-right: 70px;
}

.label{
  display: block;
  font-size: 12px;
  color: rgb(0 0 0 / 50%);
  margin-bottom: 8px;
}

.container{
  font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  max-width: 100%;
}

.errMsg{
  color: red;
  font-size: 12px;
  display: block;
}

.fieldContainer{
  position: relative;
  
}

.btnAction{
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}