.btn{
  height: 36px;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgb(0 0 0 / 30%);
  outline: none;
  border-radius: 8px;
}

.btn.fluid{
  width: 100%;
}

.btnIcon{
  padding: 6px;
  width: 36px;
}