.wrapper{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition-duration: .3s;
  overflow: auto;
}

.wrapper.active{
  opacity: 1;
  pointer-events: auto;
}

.panel{
  position: relative;
  display: block;
  margin: 100px auto;
  width: 600px;
  max-width: 100%;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}

.btnClose{
  position: absolute;
  right: 16px;
  top: 16px;
}