.wrapper{
  width: 100%;
  position: relative;
  padding-top: calc(9/16*100%);
  /* border: 1px solid grey; */
  background-color: black;
}

.wrapper .video{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}