.nav{
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  color: black;
  z-index: 9;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
}

.logo{
  height: 50px;
}